{
    margin: 0;
     padding:0;
}


.main{
    width:100%;
    background:linear-gradient(to top, rgba(5, 0, 12, 0.5)50%, rgba(0, 0, 0, 0.5)50%),url(https://media.istockphoto.com/id/1285301614/photo/young-man-arms-outstretched-by-the-sea-at-sunrise-enjoying-freedom-and-life-people-travel.jpg?s=612x612&w=0&k=20&c=0QW6GnkuFNYcPZhy26XVHuTc2avJTK8u6l_1iT0SlZk=);
    background-position:center;
    background-size:cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;

}


.icon{
    width:200px;
    float:left
    height:70px;

}


.logo{
    color:aqua;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top: 10px;
}

 .menu{
    width: 400px;
    float: left;
    height: 70px;
 }

 ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

 ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

 }

 ul li a:hover{
    color:crimson;
 }

 .search{
    width: 300;
    float: left;
    margin-left: 430px;
    margin-top: 16px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top:13px;
    color: oldlace;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color:aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn:focus{
    outline:none
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position:relative;


}

.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
  

}
.par{
    color: #000;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background:#ff7200;
    border:none;
    margin-bottom:10px;
    margin-left:20px;
    font-size:18px;
    border-radius : 10px;
    cursor:pointer;
    transition: 4.s ease;
}

.content .cn a{
    text-decoration: none;
    color:black;
    transition: .3s ease;

}
.cn:hover{
    background-color: #fff;
}
.content span{
    color:white;
    font-size: 60px;
}
 .form{
    width: 250px;
    height: ;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position:absolute;
    top:20px;
    left: 1050px;
    border-radius: 10px;
    padding: 25px;

}

 .form h2{
    width: 220px;
    font-family:sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    
 }
 .form input{
    width: 240px;
    height: 35px;
    background:transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color:#fff;
    font-size:  15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family:sans-serif;

 }

.form input:focus{
    outline:none;
}

::placeholder{
    color:#fff;
    font-family: Arial;

}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;
    color: #fff;
    transition: 0.4s ease;

}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color:#000);
    font-weight:bold;

}

.form.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
.form.link a{
    text-decoration: none;
    color: #ff7200;

}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    text-decoration: none;
 color: #fff;
}

.icon ion-icon{
    color:#fff;
    font-size:25px;
    padding-left: 5px;
    padding-top: 1px;
}

div.biku{
    margin: 7px;
    border: 10px solid #fff;
    float: left;
    width: 300px;
    color: #ff7200;
    background-color: rgb(14, 13, 13);
    border-radius: 30px;

}

section{
    width: 80%;
    margin: 30px auto;

}

.title{
    text-align: center;
    font-size: 4vmin;
    color:#49497e;

}

 .up_event{
    display: flex;
}

.up_event .col{
    width: 100%;
    padding: 0px 10px;   
}
.up_event .col img{
    width: 100%;
    height: 350px;   
}

.event_heading {
    font-size: 3vmin;
    color: #49497e;
    margin: 20px auto;
}

.event_des{
    color: #7c7c7c;
    text-align: justify;
}

.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color:whitesmoke;
}

.events .ctn{
    margin-top: 30px;

}

body ,html{
    overflow-x: hidden;
    
}
 .explore{
   width:100%;
   height: 100vh;
   background-image: url(https://images.unsplash.com/photo-1527580094867-0e719f119120?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGlsbCUyMHRvcHxlbnwwfHwwfHw%3D&w=1000&q=80); 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display:flex;
   align-items: center;
   

 }

 .explore-content{
    width: 60%;
    padding: 50px;
    color:black;
    display:flex;
    align-items: center;
    flex-direction: column;
}

 .explore-content h1{
    font-size: 7vmin;
    margin: 50px;
}
.explore-content .line{
    margin-bottom: 50px;
}

.explore-content p{
    color:white;


}

.explore-content .ctn{
    margin-top: 40px;
}

.tours .row .col{
    width: 50%;
}

.content-col{
    width:40%;
    

}
    
.image-col{
    width: 60%;
}






.tours .image1-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}

.image1-gallery img{
    max: width 250px;
    margin: 10px;
    
}

.content-col h1{
    font-size: 7vmin;
    color: #49497e; 
    
}

.content-col.line{
    margin-left: 1px;

}

.content-col p{
    padding: 0;
    margin:30px auto;
   
}

.content-col .ctn{
    margin-left: -100px;
}

.footer{
    width:100%;
    min-height: 250px;
    padding: 20px 80px;
    margin:0;
    background: #49497e;
    text-align:center;
}

.fotter p{
    color:whitesmoke;
    margin:20px auto;
    padding:20px auto;

}
.b3{
    color: darksalmon;
}

.long{
    font-size: 50px;
    color: #000;
}